<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>星星便利店.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>324E4DBF1C9C3A0C00E7BBDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>324E4DD31C9C3A0C00E7BBDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>324E4DDE1C9C3A0C00E7BBDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
