<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Reachability.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ReachabilityAppleTVSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>ReachabilityMac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ReachabilityMacSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>ReachabilitySample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>ReachabilityTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00C54B101C09CD9C001C3F12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00C54B1E1C09CF67001C3F12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57A45A001C197BE800384AE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57A45A291C197F4800384AE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA7344711BE7678B008AFE69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA73448F1BE76820008AFE69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
